 
 

#asidebar{
    overflow-y: auto;
     min-height: 300vh;
}


aside li{
    background-color: rgba(128, 128, 128, 0.107);
}

@media (max-width:600px) {
   #admin{
    display: none;
   }
    #logout{
        display: none;
    }
    #asidebar{
        width: 70px;
    }

}