 
 

#asidebar{
    overflow-y: auto;
     min-height: 300vh;
}


aside li{
    background-color: rgba(128, 128, 128, 0.107);
}

@media (max-width:600px) {
    #asidebar:hover{
    transition: 1s ease-in-out;
      width: 40%;
    }
   #admin{
    display: none;
   }
    #logout{
        display: none;
    }

}