 
 

#asidebar{
    overflow-y: auto;
    height: 100%;
    min-height: 100vh;
}


aside li{
    margin: 1rem 0;
}

@media (max-width:600px) {
   #admin{
    display: none;
   }
    #logout{
        display: none;
    }
    #asidebar{
        width: 70px;
    }

}