@tailwind base;
@tailwind components;
@tailwind utilities;

link {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

#loading-spinner {
  animation: loading-spinner 0.5s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
